@import "../../assets/scss/common";

.header {
  // &__navManu {
  // }
  &__nav-list {
    align-self: right !important;
    @include sbfont($h7, $white !important);
    color: $white !important;
  }
  &__greenText {
    // color: $color-secondary-8 !important;
    @include sbfont($h6, $color-secondary-8);
    font-family: "OpenSansRegular" !important;
  }

  &__name {
    @include sbfont($h6, $white);
    font-size: 18 !important;
  }
}

.subNav {
  border-left: 0.5px solid #ffffff;
  color: $white !important;
  @include sbfont($h8);
  font-size: 11px !important;
  text-align: center;
  // vertical-align: middle;
  line-height: 40px;
  height: 100%;
  position: relative;
}

.solutionNav {
  background-color: $color-secondary-35;
  height: 40px;
}
@media (max-width: 991px) {
  .solutionNav {
    display: none;
  }
}
.centersubNavText {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.sticky {
  position: fixed;
  top: 0;
  flex-grow: 1;
  max-width: 100%;
  overflow: hidden;
  z-index: 10;
}

.sublinkActive {
  @include sbfont($h7, $white !important);
  font-weight: bold !important;
  text-decoration: none;
  background-color: $color-secondary-36;

  // content: "";
  // border-left: 20px solid transparent;
  // border-right: 20px solid transparent;
  // border-bottom-width: 20px;
  // border-bottom-style: solid;
}
.subNav:hover {
  @include sbfont($h7, $white !important);
  text-decoration: none;
  font-weight: bold !important;

  // padding-top: 5px;
}

.nav-link {
  @include sbfont($h8, $white !important);
  padding-right: 1.3rem !important;
  padding-left: 1.3rem !important;
}

.nav-link:hover {
  @include sbfont($h7, $white !important);
  font-weight: bold !important;

  // padding-top: 5px;
}
.nav-link:active {
  @include sbfont($h7, $white !important);
  font-weight: bold !important;
  text-decoration: none;
}

// .navbar-brand {
//   margin-left: 60px !important;
//   // margin-right: 20rem !important;
// }
li > a {
  @include sbfont($h7, $white);
}

.linkActive {
  @include sbfont($h7, $white !important);
  font-weight: bold !important;

  text-decoration: none;

  @media (min-width: 992px) {
    border-bottom: 4px solid $white !important;
    border-radius: 4px !important;
  }

  @media (min-width: 375px) and (max-width: 991px) {
    color: $color-secondary-37 !important;
  }
}



// hr {
//   width: auto;
//   margin-left: auto;
//   margin-right: auto;
//   height: 3px;
//   background-color: $white;
//   border-radius: 4px;
// }

.smart-scroll {
  // position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: 3;

  background-color: $color-secondary-14;
}
.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

// #navbarNav {
//   min-height: 100%;
// }

.navbar-toggler {
  border: 0px solid transparent !important;
}
.navbar-collapse {
  min-height: 100% !important;
}

svg {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-toggler > .close-icon {
  display: inline;
}
.navbar-toggler.collapsed > .close-icon,
.navbar-toggler:not(.collapsed) > .hamburger-icon {
  display: none;
}

.dropdown-menu {
  padding-left: 30px;
  border: none;
  background-color: transparent;
}

.dropdown-item {
  @include sbfont($h8, $white !important);
}

.expand-icon {
  display: inline-block;
}
.collapse-icon {
}


//  .logo {
//   display: inline;
// }
// .collapsed > .logo,
// .navbar-toggler:not(.collapsed) > .navbar-brand {
//   display: none;
// }
