<!-- Footer -->
<footer class="page-footer">
  <!-- Footer Links -->
  <!-- <div class="row"> -->
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-lg-3 row col-md-12 col-sm-12 mt-md-0 page-footer__name">
      <!-- Content -->
      <div class="col-lg-12 col-md-6 col-sm-6 page-footer__text-name text-lg-center">
        <img
          class="img-fluid"
          src="../../assets/images/deloitte-logo.png"
          alt="Random first slide"
        />
      </div>
      <div class="col-lg-12 col-md-6 col-sm-6 page-footer__name__icons text-lg-center">
        <img src="../../assets/icons/facebook.svg" alt="Random first slide" />
        <img
          class="page-footer__midimage"
          src="../../assets/icons/instagram.svg"
          alt="Random first slide"
        />
        <img src="../../assets/icons/twitter.svg" alt="Random first slide" />
      </div>
    </div>
    <!-- Grid column -->

    <!-- <hr class="clearfix w-100 d-md-none pb-3" /> -->

    <!-- Grid column -->
    <div
      class="col-lg-2 col-md-12 col-sm-12 mb-md-0 pb-3 page-footer__contactus pt-4"
    >
      <!-- Links -->
      <div class="row p-0">

      <div class="col-lg-12 col-md-6 col-sm-6 align-self-center">
        <div
          class="text-uppercase page-footer__text-title text-sm-left text-lg-left ml-sm-0 ml-lg-3"
        >
          CONTACT INFO
        </div>
        <div
          class="page-footer__text-desc text-sm-left text-lg-left ml-sm-0 ml-lg-3 pb-4"
        >
          4th Floor <br />
          5 Magwa Cres<br />
          Waterfall<br />
          Midrand <br />
          Gauteng, 2066
        </div>
      </div>

      <div
        class="text-sm-left col-lg-12 col-md-6 col-sm-6 text-lg-left text-sm-left text-md-left ml-sm-0 ml-lg-3"
      >
      <div>
        <img src="../../assets/icons/message.svg" alt="Random first slide" />
        <a class="page-footer__text-desc ml-sm-0" href="email"
          >&nbsp;&nbsp;zatmtlighthouse@<br>deloitte.co.za
        </a>
      </div>
        <div>
          <img src="../../assets/icons/call.svg" alt="Random first slide" />
          <a class="page-footer__text-desc ml-sm-0" href="tel:123-456-7890"
            >&nbsp;&nbsp;(+12) 345- 6789- 012
          </a>
        </div>
      </div>

      </div>
    </div>
    <!-- Grid column -->


    <div class="col-lg-4 col-md-12 col-sm=12 p-0 row">
    <!-- Grid column -->
        <div class="col-6 mb-md-0 pb-3 pl-sm-5  pl-md-5 page-footer__aboutus pt-4">
          <!-- Links -->
          <div class="text-uppercase text-sm-left text-lg-left ml-sm-0 ml-lg-3 page-footer__text-title">
            ABOUT US
          </div>
          <p class="pt-2 ml-lg-3 page-footer__text-desc">
            What is the TMT Lighthouse <br>Our Core Themes
          </p>
          <ul class="list-unstyled text-sm-left pt-4 text-lg-left ml-sm-0 ml-lg-3 page-footer__list">
            <li class="pb-3">
              <a class="page-footer__text-title" href="#!"> INSIGHTS</a>
            </li>
            <li class="pb-3">
              <a class="page-footer__text-title" href="#!"> OUR PARTNERS </a>
              <p class="text-left pt-2 page-footer__text-desc">
              Polinode <br>Raiktr<br> Brandsey<br> Retro Rabit<br>
              </p>
            </li>
            <li class="pb-3">
              <a class="page-footer__text-title" href="#!">CONTACT US </a>
            </li>
          </ul>
        </div>
        <div class="col-6 mb-md-0 pb-3 pl-ms-5 pr-md-5 pl-ms-5 pr-md-5 text-sm-left text-lg-left text-sm-left text-md-left page-footer__aboutus pt-4">
       <!-- Links -->
          <div class="text-uppercase ml-sm-0 ml-lg-0 page-footer__text-title">
            SOLUTIONS
          </div>

          <ul class="list-unstyled ml-lg-0 ml-sm-0 page-footer__list">
            <li>
              <a class="page-footer__text-desc" href="#!">V-PoP </a>
            </li>
            <li>
              <a class="page-footer__text-desc" href="#!">API </a>
            </li>
            <li>
              <a class="page-footer__text-desc" href="#!">BOT DnA </a>
            </li>
            <li>
              <a class="page-footer__text-desc" href="#!"
                >Omni-Channel Ecosystem
              </a>
            </li>
            <li>
              <a class="page-footer__text-desc" href="#!">Smart CAPEX </a>
            </li>
            <li>
              <a class="page-footer__text-desc" href="#!">Cyber Security </a>
            </li>
            <li>
              <a class="page-footer__text-desc" href="#!">AONA </a>
            </li>
            <li>
              <a class="page-footer__text-desc" href="#!">Smart Contact Centres </a>
            </li>
            <li>
              <a class="page-footer__text-desc" href="#!">Centralised Analytics Platform </a>
            </li>
            <li>
              <a class="page-footer__text-desc" href="#!">Model Guardian </a>
            </li>
          </ul>
          
          <div class="text-uppercase page-footer__text-title">
            MAKE A BOOKING
          </div>
      </div>
    </div>

    <div
      class="col-lg-3 col-sm-12 col-md-12 mb-md-0 pb-3 ml-sm-0 page-footer__copy-right pt-5 text-lg-left text-sm-left"
    >
      <!-- Links -->
      <p>
        Deloitte refers to one or more of Deloitte Touche Tohmatsu Limited, a UK
        private company limited by guarantee (“DTTL”), its network of member
        firms, and their related entities. DTTL and each of its member firms are
        legally separate and independent entities. Please see
        www.deloitte.com/about for a detailed description of DTTL and its member
        firms.
      </p>
      <div col-lg-4 mb-md-0 pb-3>
        <span class="page-footer__text-desc">&#169; 2019. See</span>
        <a class="page-footer__link" href="#!"> Terms of use </a>
        <span class="page-footer__text-desc">for more information</span>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- </div> -->
  <!-- Grid row -->

  <!-- page-footer Links -->

  <!-- Copyright -->

  <div class="row">
    <!-- © 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a> -->
    <p class="mx-auto col-sm-12 page-footer__footerTC py-3">
      About Deloitte | Terms of use | Privacy | Cookies | PAIA Manual | About
      Deloitte Southern Africa | Avature Privacy | Standard terms for the
      provision of goods and services to Deloitte & Touche
    </p>
  </div>

  <!-- Copyright -->
</footer>
<!-- Footer -->
