@import "../../assets/scss/common";

.page-footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;

  max-width: 100%;
  &__footerTC {
    @include sbfont($h7, $color-secondary-9);
  }

  &__submain {
    padding: 50px;
  }
  &__midimage {
    padding-right: 20px;
    padding-left: 20px;
  }

  &__link {
    @include sbfont($h8, $color-secondary-3);
    font-size: 10px !important;
  }

  &__name {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 50px;
    &__icons {
      padding: 27px;
    }
  }
  @media (min-width: 375px) and (max-width: 991px) {
    &__name {
      padding: 0px;
    }
  }

  &__copy-right {
    // padding-top: 80px;
    //padding-left: 60px;
    text-align: left !important;
    background-color: rgba(13, 15, 14, 1);
    @include sbfont($h8, $color-primary-3);
  }

  &__aboutus {
    background-color: rgba(0, 0, 0, 0.9);
  }

  &__contactus {
    background-color: rgba(17, 17, 17, 0.95);
  }

  &__text-desc {
    @include sbfont($h8, $color-primary-3);
  }
  &__text-name {
    @include sbfont($h2, $white);
    padding: 16px 28px;
  }

  &__text-title {
    @include sbfont($h6, $white);
  }
  // &__icon {
  //   width: 10%;
  //   // padding-left: 5px;
  // }
  &__list {
    line-height: 1;
  }
}
