@import "../../assets/scss/common";

.carouselMain {
  // margin-top: 13%;
  // text-align: center;
  padding-left: 4%;
  padding-right: 4%;
  position: relative;

  margin: 13% auto 0 auto;
}

@media (min-width: 375px) and (max-width: 991px) {
  .card-body {
    height: 190px;
  }
}
.carousel-control-next {
  margin-right: -8%;
}
.carousel-control-prev {
  margin-left: -8%;
}

.carousel-indicators {
  top: 100%;
}
.carousel-control-next-icon {
  background-image: url("../../assets/icons/rightArrow.svg") !important;
  width: 30px;
  height: 30px;
}

.carousel-control-prev-icon {
  background-image: url("../../assets/icons/leftArrow.svg") !important;
  width: 30px;
  height: 30px;
}
@media (max-width: 767px) {
  .carousel-control-next-icon {
    background-image: url("../../assets/icons/carouselNext.svg") !important;
    width: 58%;
    height: 8%;
  }

  .carousel-control-prev-icon {
    background-image: url("../../assets/icons/carouselPrevious.svg") !important;
    width: 58%;
    height: 8%;
  }

  .carousel-control-next {
    margin-right: -3% !important;
    opacity: 1 !important;
  }
  .carousel-control-prev {
    margin-left: -3% !important;
    opacity: 1 !important;
  }
}

.carousel-indicators li {
  width: 8px;
  height: 8px;
  background: #339269;
  opacity: 0.4;
  border-radius: 50%;
  display: inline-block;
  border-top: 0px;
  border-bottom: 0px;
  margin-right: 14px;
  // opacity: 1;
}

.carousel-indicators .active {
  opacity: 1;
  border-radius: 10px;
  display: inline-block;
  width: 29px;
  height: 6px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}

.card-body {
  background: linear-gradient(to top, rgba(255,0,0,0), $color-primary-1);
}

.card {
  width: 100% !important;
  height: auto !important;
  border: none;
  background: transparent;
  border-bottom: none;
  border-radius: 3px 3px 0px 0px;
}

.card:hover {
  cursor: pointer;
}
.solutionLinkActive.card {
  border: 1px solid $color-secondary-7;
}
.card-title {
  @include sbfont($h6, $color-secondary-21);
}

.card-text {
  @include sbfont($h7, $color-secondary-21);
}

// for Solutions slider
.sliderWrapper {
  position: relative;
  top: -197px;
  z-index: 1;
  height: 0px;
  float: right;
  width: 100%;
}

.carouselMain {
  background: rgba(0,0,0,0.3);
}
