<div [class.sliderWrapper]="isActive">
<div
  class="col-lg-12 col-md-12 d-none d-md-block d-lg-block d-xl-block align-self-center text-center carouselMain"
>
  <div
    id="carouselIndicators"
    class="carousel slide carousel-multi-item"
    data-ride="carousel"
  >
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
      <div class="carousel-item active">
        <div *ngFor="let slideCard of slideList" class="row col-lg-2 col-md-3 p-1" style="float: left; max-width: 168px;">
          <div routerLink="{{ slideCard.routerLink }}"
               routerLinkActive="solutionLinkActive" class="card mb-2">
            <img
              class="card-img-top"
              src="{{slideCard.image}}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h4 class="card-title text-center">{{slideCard.name}}</h4>
              <p class="card-text text-center">
                {{slideCard.description}}
              </p>
              <a href="javascript: return false" routerLink="{{ slideCard.routerLink }}" class="homeoursolution__ciclearrow"
              ><img src="../../assets/icons/circleArrow.svg" alt="..."
              /></a>
            </div>
          </div>
        </div>
      </div>
        <!-- second slide -->
      <!--/.Second slide-->
    </div>
    <!--/.Slides-->
  </div>
  <!--/.Carousel Wrapper-->
</div>

