$white: #fff;
$black: #000;

$color-primary-1: #000;
$color-primary-2: #0d0f0e;
$color-primary-3: #d4d4d4;
$color-primary-4: #595959;
$color-primary-5: #1b1b1b;

$color-secondary-1: #4445a1;
$color-secondary-2: #517607;
$color-secondary-3: #0da6fd;
$color-secondary-4: #151515;
$color-secondary-5: #1c8061;
$color-secondary-6: #1f1f1f;
$color-secondary-7: #eec660;
$color-secondary-8: #5f8a09;
$color-secondary-9: #2c5566;
$color-secondary-10: #fcfdff;
$color-secondary-11: #5f60cb;
$color-secondary-12: #111111;
$color-secondary-13: #030614;
$color-secondary-14: #111213;
$color-secondary-15: #030715;
$color-secondary-16: #142433;
$color-secondary-17: #4344a0;
$color-secondary-18: #f2f7fd;
$color-secondary-19: #1e4ebf;
$color-secondary-20: #34b78f;
$color-secondary-21: #fefefe;
$color-secondary-23: #292828;
$color-secondary-24: #6981d5;
$color-secondary-25: #86bc24;
$color-secondary-26: #65fcbb;
$color-secondary-27: #046087;
$color-secondary-28: #5d5f60;
$color-secondary-29: #205789;
$color-secondary-30: #1d6d82;
$color-secondary-31: #0f1721;
$color-secondary-32: #545454;
$color-secondary-33: #ee7a60;
$color-secondary-34: #14593b;
$color-secondary-35: #134f35;
$color-secondary-36: #339269;
$color-secondary-37: #91b843;
$color-secondary-38: #101020;
$color-secondary-39: #f9f9f9;
