html {
  font-size: 16px;
}

body {
  font-family: "Open Sans" !important;
  padding-top: 180px;

  position: relative !important;
  @include mediaQueries($tablet-max) {
    // padding-top: 140px;
    padding-top: 14%;
  }
  @include mediaQueries($mobile-max) {
    display: block;
    padding-top: 70px;
  }

  .row {
    margin: 0;
  }

  a {
    text-decoration: none !important;
  }
}
