@import "../../assets/scss/common";

.smart {
  &__hero {
    background-image: url("../../assets/images/smart.jpg");
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center center !important;

    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;

    height: calc(100vh);
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    overflow: auto;

    &__hero-text-section {
      &__title {
        @include sbfont($h1, $white);
      }
      &__desc {
        @include sbfont($h1, $white);
        font-family: "OpenSansRegular" !important;
      }
    }
  }
  @media (min-width: 375px) and (max-width: 992px) {
    &__hero {
      height: 581px;
    }
  }
  &__business-text-section {
    padding-top: 7%;
    padding-bottom: 7%;
    background: linear-gradient(
      180deg,
      #fdfdfd 36.7%,
      rgba(249, 249, 249, 0) 87.77%
    );
    height: auto;

    &__leftImage {
      position: relative;
      z-index: 0;
      top: -775px;
      right: 0;
    }

    &__rightImage {
      position: relative;
      z-index: 0;
      bottom: 172px;
      left: 236px;
    }

    &__text {
      position: relative;
      z-index: 1;

      left: 0;
    }

    img {
    }

    &__downloadIcon {
      position: relative;
      margin-inline-start: 15px;
      padding-bottom: 5%;
    }
  }

  &__business-header {
    @include sbfont($h2, $color-secondary-27);
  }

  &__business-desc {
    @include sbfont($h5, $color-secondary-15);
    // width: 60%;
    margin: auto;

    &__list {
      @include sbfont($h5, $color-secondary-28);
    }

    &__Note {
      @include sbfont($h5, $color-secondary-29);
      padding-inline-start: 40px;
    }
  }

  &__benefits {
    background: #1a1d2b;
    // transform: rotate(180deg);
    padding-top: 6rem;
    padding-bottom: 5rem;
    height: auto;
    &__title {
      @include sbfont($h2, $white);
    }
    &__desc {
      @include sbfont($h5, $white);
      padding-top: 79px;
    }
    &__desc-list {
      @include sbfont($h5, $color-secondary-26);
    }
  }
}
.videoSection {
  padding-top: 7%;
  padding-bottom: 7%;
  height: auto;
  z-index: 0 !important;
  background-color: $white;
  .textBackground {
    height: 513px;
    width: 87%;
    margin: 198px 120px auto 46px;

    // z-index: 1 !important;
    position: absolute;
    .textArea {
      z-index: 1 !important;
      position: absolute;
      margin-top: 5%;
      width: 40%;
    }

    @media (min-width: 375px) and (max-width: 991px) {
      .textArea {
        width: 95%;
        position: absolute;
        bottom: 0;
        margin-bottom: 5%;
      }
    }
    &__title {
      @include sbfont($h2, $color-secondary-30);
    }
    &__desc {
      @include sbfont($h5, $color-secondary-31);
    }

    &__purpleDots {
      z-index: 2 !important;
      position: relative;
      margin-left: -1%;
      top: 70%;
      animation-name: purpuledots;
      animation-duration: 2s;
      animation-delay: 2s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      overflow: hidden;
    }

    @keyframes purpuledots {
      0% {
        right: -1%;
      }
      25% {
        right: -6%;
      }
      50% {
        right: -9%;
      }
      75% {
        right: -13%;
      }
      100% {
        right: -17%;
      }
    }

    &__master-madia {
      z-index: 1 !important;
      position: relative;
      bottom: 13%;
      margin-left: -4%;
      overflow: hidden;
    }

    @media (min-width: 375px) and (max-width: 991px) {
      &__master-madia {
        position: relative;
        top: 0;
        padding: 0 !important;
        margin-left: 0;
      }
    }
  }

  @media (min-width: 375px) and (max-width: 991px) {
    .textBackground {
      background-color: $color-secondary-24;
      height: auto;
      width: 100%;
      margin: 0;
    }
  }

  .videoSection-sub {
    position: relative;
  }
}

@media (min-width: 375px) and (max-width: 991px) {
  .videoSection {
    height: auto;
  }
}
