<app-carousel></app-carousel>
<div class="centralised">
  <div class="row centralised__hero">
    <div class="centralised__hero-text-section col-12 mx-auto align-self-center">
      <div class="centralised__hero__hero-text-section__title text-center">
        Centralised Analytics Platform:
      </div>
      <div class="centralised__hero__hero-text-section__desc text-center">
        Centralised Analytics Platform
      </div>
    </div>
  </div>

  <div class="row viewSolution">
    <div class="col text-right align-self-center pr-lg-5 pr-sm-3">
      <span class="viewSolution__view">Go to the Solution: </span>
      <a class="viewSolution__goto">BOT DnA </a>

      <svg
        width="13"
        height="14"
        viewBox="0 0 13 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.37904 2L11.2581 6.87904L6.37904 11.7581"
          stroke="#91B843"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>
    </div>
  </div>

  <div class="row centralised__business-text-section">
    <div
      class="col-12 centralised__business-text-section__text justify-content-center"
    >
      <div class="centralised__business-header pl-lg-5 mb-4 pt-4 text-center">
        The Business Problem
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <p class="centralised__business-desc text-left">
            The nature of the Communication Service Provider industry, and its
            regulatory environment, makes data collection on price points and
            new products difficult <br />​<br />
          </p>

          <div class="list-unstyled centralised__business-desc__list-header">
            The central pain points identified are:​
          </div>
          <br />

          <ul class="list-unstyled centralised__business-desc__list">
            <li>
              1. Lacking external user and market awareness which leads to an
              inside-out approach to innovation​
            </li>
            <li>
              2. The decision drivers across different customer segments are
              often not fully comprehended; and​
            </li>
            <li>
              3. Unknowns such as preferred core features and price elasticities
              result in an incomplete view of the customer’s wallet and spending
              habits
            </li>
          </ul>
        </div>

        <!-- <div class="col-lg-4">
              <p class="centralised__business-desc text-left">
                Understanding the informal organisation is key to unlocking
                adaptability. Adaptable Organisations are designed whilst
                prioritising:​
              </p>

              <ul class="centralised__business-desc__list">
                <li>
                  Informal relationships and networks​
                </li>
                <li>
                  Proximity to the customer
                </li>
                <li>
                  Team over hierarchy​
                </li>
                <li>
                  Nimble governance​
                </li>
                <li>
                  Flexible, incremental changes over a ‘big bang’ approach​
                </li>
              </ul>

              <p class="centralised__business-desc__Note">
                <i>
                  - "53% of organizations indicated significant performance
                  improvement due to a shift towards a network-based model"
                </i>
              </p>
            </div> -->
        <!-- <div class="col-lg-10 pt-5">
            <div class="centralised__business-text-section__downloadIcon text-center">
              <button
                type="button"
                (click)="downloadPdf('./assets/sample.pdf', 'your_pdf_file')"
                class="primaryBtn"
              >
                DOWNLOAD DOC.
                <svg
                  width="20"
                  height="20"
                  class="downloadIcon"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19 13V17C19 17.5304 18.7893 18.0391 18.4142 18.4142C18.0391 18.7893 17.5304 19 17 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17V13"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M5 8L10 13L15 8"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M10 13V1"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>
          </div> -->
      </div>
    </div>
    <!--
        <img
          class="d-block img-fluid centralised__business-text-section__leftImage float-left"
          src="../../assets/images/Frame.png"
          alt="Third slide"
        />

        <img
          class="d-block img-fluid centralised__business-text-section__rightImage float-right"
          src="../../assets/images/Group.png"
          alt="Third slide"
        /> -->
  </div>

  <div class="row viewSolution">
    <div class="col text-right align-self-center pr-lg-5 pr-sm-3">
      <span class="viewSolution__view">Visit Partner Site : </span>
      <a class="viewSolution__goto">www.website.com/ </a>

      <svg
        width="19"
        height="14"
        viewBox="0 0 19 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12.379 1.99999L17.2581 6.87903L12.379 11.7581"
          stroke="#595959"
          stroke-width="2"
          stroke-linecap="round"
        />
        <path
          d="M1 5.87903C0.447715 5.87903 0 6.32674 0 6.87903C0 7.43131 0.447715 7.87903 1 7.87903V5.87903ZM1 7.87903H16.5V5.87903H1V7.87903Z"
          fill="#595959"
        />
      </svg>
    </div>
  </div>

  <div class="row centralised__benefits">
    <div class="col-5 pl-0">
      <img
        class="img-fluid"
        src="../../assets/images/image 37.png"
        alt="Third slide"
      />
    </div>

    <div class="col-6 text-left">
      <div class="centralised__benefits__title">
        What is Centralised Analytics Platform
      </div>
      <p class="centralised__benefits__desc align-text-bottom">
        Centralised Analytics Platform info​ Deloitte’s Centralised Analytics Platform is a bespoke innovation platform used to
        enable clients to insightfully adapt their product & price strategies
        and stay ahead of their competition. Centralised Analytics Platform enables clients to optimise
        revenue and go to market expenditure by reaching the right customer with
        the right product at the right price.
      </p>
    </div>
    <!-- <button type="button" class="primaryBtn d-md-table">
            BUTTON
            <img src="../../assets/icons/arrow.svg" />
          </button> -->
  </div>

  <div class="row videoSection">
    <div class="textBackground">
      <div class="textArea align-self-end">
        <div class="text-lg-left text-center pl-4 textBackground__title">
          Centralised Analytics Platform
        </div>
        <div class="text-left pl-4 pt-4 textBackground__desc">
          Price and product decisions are often made with an “inside-out”
          approach, with no clear impact on market share or potential uptake.​
          ​<br /><br />

          Contact us to better understand how our tool can help your
          organisation!
        </div>
      </div>
    </div>

    <!-- col-12 float-right d-none d-lg-block d-xl-block" -->

    <div
      class="textBackground__purpleDots col-md-6 col-lg-6 col-xl-6 d-none d-lg-block d-xl-block"
    >
      <div class="float-right img-fluid">
        <img src="../../assets/icons/purple-dots.svg" alt=".." />
      </div>
    </div>

    <div class="textBackground__master-madia col-12 align-self-start">
      <div class="p-l-5 float-lg-right float-xl-right">
        <app-master-media></app-master-media>
      </div>
    </div>
    <!-- </div> -->
  </div>
  <div class="row">
    <div class="col-12 p-0"><app-modal></app-modal></div>
  </div>
</div>
