@import "../../assets/scss/common";

.contactUs {
  // top: 10%;
  // margin-top: 48px !important;
  &__sayHi {
    background-color: $color-secondary-23;
    &__submain {
      padding-bottom: 6%;
      &__email-section {
        padding-top: 5%;
        // margin: auto;
        &__email_text {
          @include sbfont($h6, $white);
          font-family: "OpenSansRegular" !important;
          color: rgba(255, 255, 255, 0.6);
        }
        &__email {
          @include sbfont($h6, $white);
        }
      }
      &__sendMsgBtn {
        padding-top: 15%;
        padding: 5%;
      }
      &__hiIcon {
        margin: auto;
      }
    }

    @media (min-width: 768px) {
      &__bookBtn {
        display: none;
      }
    }
  }
  img {
    padding-bottom: 30px;
    margin-top: 40px;
  }
  &__booking {
    background-image: url("../../assets/images/visit\ us.png");
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center !important;

    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    overflow: auto;

    &__submain {
      padding-bottom: 6%;
    }
  }

  @media (max-width: 767px) {
    &__booking {
      display: none;
    }
  }

  &__HiText {
    @include sbfont($h4, $white);
  }
  &__desc {
    @include sbfont($h7, $color-secondary-39);
  }
  &__vistUstext {
    @include sbfont($h4, $white);
    padding-bottom: 30px;
  }
  &__bookingText {
    @include sbfont($h7, $white);
    padding-bottom: 30px;
  }

  &__centerContent {
    margin: auto !important;
  }
}

form {
  background: none;
  margin: 20px auto 0;
  padding: 10px;
  align-self: end;
}

.form-control {
  background-color: transparent;

  // width: 44%;
}

// .form-section {
// }

.arrowIcon {
  margin-inline-start: 15px;
}
