@import "../../assets/scss/common";

.aboutus {
  // margin-top: 48px !important;
  video {
    width: 100% !important;
    height: 486px !important;
    cursor: pointer;
    background-color: black;
  }

  @media (min-width: 375px) and (max-width: 767) {
    video {
      width: 100% !important;
      height: 194px !important;
      cursor: pointer;
      background-color: black;
    }
  }

  .play-icon {
    // width:50%;
    // height:50%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: -5%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
  }
  .pause-icon {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
  }

  &__video {
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: 486px !important;
  }

  @media (min-width: 375px) and (max-width: 767) {
    &__video {
      margin: auto;
      overflow: hidden;
      cursor: pointer;
      width: 100%;
      height: 194px;
    }
  }

  &__text-section {
    background-color: $white;
    height: auto;
  }
  &__header {
    @include sbfont($h2, $color-secondary-20);
  }

  &__desc {
    @include sbfont($h5, $color-secondary-15);
  }
}

svg {
  stroke: $color-secondary-8;
}
