<div class="aboutus row">
  <div class="col-12 pr-0 pl-0 aboutus__video">
    <video
      controls
      controlsList=" nodownload"
      poster="../../assets/images/about us page.png"
      preload="metadata"
      class="video"
      (pause)="changeButtonState()"
      (play)="changeButtonState()"
      #videoPlayer
    >
      <source
        src="https://s3.eu-central-1.amazonaws.com/pipe.public.content/short.mp4"
        type='video/mp4;codecs="avc1.4D401E, mp4a.40.2"'
      />
      <source
        src="../../assets/videos/video1.mp4"
        type='video/mp4;codecs="avc1.4D401E, mp4a.40.2"'
      />

      Sorry, your browser doesn't support embedded videos.
    </video>

    <!-- <img class="play-icon" src="../../assets/icons/play.svg" /> -->
    <!-- <img class="pause-icon" src="../../assets/icons/pauseIcon.svg"
  /> -->
    <a class="" [@changeDivSize]=currentState (click)="pause_playVid()"
      ><img class="play-icon" src="../../assets/icons/play.svg"
    /></a>
  </div>
  <div _ngcontent-kgn-c23="" class="col-12 row viewSolution">
    <div
      _ngcontent-kgn-c23=""
      class="col-12 text-right align-self-center pr-lg-1 pr-sm-3 mx-auto"
    >
      <span _ngcontent-kgn-c23="" class="viewSolution__view">View : </span
      ><a _ngcontent-kgn-c23="" class="viewSolution__goto"
        >GOLDEN THREADS

        <svg
          width="14"
          height="14"
          viewBox="0 0 14 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.87904 1.99999L11.7581 6.87903L6.87904 11.7581"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </a>
    </div>
  </div>
  <hr />

  <div class="col-12 aboutus__text-section p-4 text-left">
    <div class="row">
      <div
        class="aboutus__header col-lg-7 col-md-7 col-xl-7 col-sm-12 pl-5 mb-5 pt-4"
      >
        What is the TMT Factory
      </div>
      <div class="col-lg-6 col-lx-6 col-md-6 col-sm-12">
        <p class="aboutus__desc col pl-5">
          As the largest professional services firm globally, Deloitte Africa’s
          TMT future factory capability brings together extensive industry and
          sector knowledge, expertise and partner solutions to create an
          immersive experience that helps our clients practically address
          ever-evolving market challenges.
        </p>
      </div>
      <div class="col-lg-6 col-lx-6 col-md-6 col-sm-12">
        <p class="aboutus__desc col pl-5">
          The future factory will have four formats of tailored client
          experiences. A microsite will present a focused view of our solutions
          and become an extended engagement & marketing tool
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 p-0"><app-modal></app-modal></div>
</div>
<!-- <input
            type="email"
            name="name"
            class="form-control"
            id="email"
            value=""
            placeholder="Your email (e.g: name@email.com)"
          /> -->

<!-- <span class="">
          <button type="button" class="secondaryBtn d-md-table">
            SUBSCRIBE
            <img
              class="hometmtinsight__subcribeBtn"
              src="../../assets/icons/arrow.svg"
            />
          </button>
        </span> -->
