@import "../../assets/scss/common";

.main-form {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: $color-secondary-38;
  &__booking-form {
    margin-left: 12%;
    margin-right: 12%;
  }

  &__email-section {
    padding-top: 5%;
    margin: auto;
    &__email_text {
      @include sbfont($h6, $white);
      font-family: "OpenSansRegular" !important;
      color: rgba(255, 255, 255, 0.6);
    }
    &__email {
      @include sbfont($h6, $white);
    }
  }
}

.form-control {
  padding: 0.375rem 0.75rem;

  background-color: transparent;

  border: 0.5px solid #fdfdfd;
  border-radius: 10px;
  //   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
