@import "../../assets/scss/common";

.jumbotron {
  // background-size: cover !important;
}
.hometmtfactory {
  background-image: url("../../assets/images/about\ us.png");
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center center;
  // display: block;
  -webkit-background-size: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;

  height: calc(100vh);
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  overflow: auto;
  // position: relative;

  //   max-width: 100%;

  //   background-attachment: fixed !important;

  // align-items: center;

  // height: 700px;

  //   max-width: 100%;

  //   left: 0px;
  //   top: 1020px;

  &__text {
    position: absolute;
    z-index: 1;
    margin-right: 3%;
    margin-left: 8%;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__title {
    color: white;
    @include sbfont($h2, $white);
    // font-size: 60px;
    // align-items: left;
  }

  &__desc {
    color: white;
    @include sbfont($h5, $white);
    padding-top: 10px;
    // align-items: left;
  }

  @media (min-width: 992px) and (max-width: 1440px) {
    &__text {
      width: 45%;
    }
  }
  @media (min-width: 375px) and (max-width: 991px) {
    &__text {
      width: 100%;
      margin: auto;
      padding-left: 7%;
      padding-right: 7%;
    }

    &__title {
      text-align: center;
    }

    &__desc {
      text-align: center;
    }
  }

  &__home-buttons {
    // align-items: left;
    padding-top: 29px;
  }

  @media (min-width: 375px) and (max-width: 991px) {
    &__home-buttons {
      margin-top: 150px;
      text-align: center;
    }
  }

  .arrowIcon {
    margin-inline-start: 15px;
  }
}

@media (min-width: 375px) and (max-width: 991px) {
  .hometmtfactory {
    height: 651px;
  }
}

.hometmtfactory:after {
  position: relative;
  // height: 1020px;
  content: " ";
  left: 0;
  width: 100%;
  // height: 934px;
  z-index: 0;
  background: linear-gradient(
    71.4deg,
    #030614 38.43%,
    rgba(3, 6, 20, 0.514885) 74.01%,
    rgba(3, 6, 20, 0) 90.18%
  );
}
