<!-- <video autoplay muted loop id="myVideo">
  <source src="rain.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video> -->
<!-- <div class="jumbotron jumbotron-fluid"> -->
<div class="hometmtfactory row">
  <div
    class="hometmtfactory__text col-lg-7 col-md-12 col-sm-12 align-self-center"
  >
    <div class="hometmtfactory__title text-lg-left text-xl-left">
      What is TMT Factory?
    </div>
    <div class="hometmtfactory__desc text-lg-left text-xl-left">
      Deloitte Africa’s TMT future factory capability brings together extensive
      industry and sector knowledge, expertise and partner solutions to create
      an immersive experience that helps our clients practically address
      ever-evolving market challenges
    </div>

    <div class="hometmtfactory__home-buttons text-lg-left text-xl-left">
      <!-- <button type="button" class="tertiaryBtn d-md-table mx-auto">
        BUTTON
        <img
          class="hometmtinsight__subcribeBtn"
          src="../../assets/icons/arrow.svg"
        />
      </button> -->
      <button type="button" class="primaryBtn">
        READ MORE
        <svg
          width="19"
          height="14"
          class="arrowIcon"
          viewBox="0 0 19 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.379 1.99999L17.2581 6.87903L12.379 11.7581"
            stroke="#FCFDFF"
            stroke-width="2"
            stroke-linecap="round"
          />
          <path
            d="M1 5.87903C0.447715 5.87903 0 6.32674 0 6.87903C0 7.43131 0.447715 7.87903 1 7.87903V5.87903ZM1 7.87903H16.5V5.87903H1V7.87903Z"
            fill="#FCFDFF"
            stroke="#FCFDFF"
            stroke-width="0.5"
          />
        </svg>
      </button>

      <!-- <button type="button" class="secondaryBtn d-md-table mx-auto">
        BUTTON
      </button> -->
    </div>
  </div>
</div>
