@font-face {
  font-family: "OpenSans-Light";
  src: url("assets/fonts/Sans/Light/OpenSans-Light.ttf")
    format("truetype"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("assets/fonts/Sans/Regular/OpenSans-Regular.ttf")
    format("truetype"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "OpenSans-Semi-Bold";
  src: url("assets/fonts/Sans/Medium/OpenSans-SemiBold.ttf")
    format("truetype"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "OpenSansBold";
  src: url("assets/fonts/Sans/Bold/OpenSans-Bold.ttf") format("truetype"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "OpenSansItalic";
  src: url("assets/fonts/Sans/Light/OpenSans-LightItalic.ttf")
    format("truetype"); /* IE9 Compat Modes */
}

// @font-face {
//   font-family: "Open Sans";
//   src: url("assets/fonts/Open Sans/Bold/OpenSans-ExtraBold.ttf")
//     format("truetype"); /* IE9 Compat Modes */
// }
// @font-face {
//   font-family: "Open Sans";
//   src: url("assets/fonts/Open Sans/Medium/OpenSans-SemiBold.ttf")
//     format("truetype"); /* IE9 Compat Modes */
// }
