@import "../../assets/scss/common";

.video-section {
  padding: 0;
  position: relative;

  video {
    // width: 100% !important;
    // height: auto !important;

    width: 690px;
    height: 523px;
    background-color: black;
    // min-width: 100%;
    // min-height: 100%;
  }

  // @media (min-width: 992px) and (max-width: 1440px) {
  //   &__text {
  //     width: 45%;
  //   }
  // }
  @media (min-width: 375px) and (max-width: 991px) {
    video {
      // width: 100% !important;
      // height: auto !important;

      width: 690px;
      height: auto !important;
    }
  }

  .play-icon {
    // width:50%;
    // height:50%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
  }
  .pause-icon {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
  }
}
