@import "../../assets/scss/common";

.solutions {
  // margin-top: 48px !important;
}

.row {
  z-index: 1 !important;
  margin-left: 100px !important;
  margin-top: 100px !important;
  position: fixed !important;

  a {
    color: $white !important;
    @include sbfont($h7);
  }

  .linkActive {
    @include sbfont($h7, $color-secondary-2 !important);
    font-weight: bold !important;
    text-decoration: none;
  }
  a:hover {
    @include sbfont($h7, $white !important);
    text-decoration: none;
    font-weight: bold !important;

    // padding-top: 5px;
  }
}

.solutionContent {
  z-index: 0 !important;
  position: relative;
}

// for Solutions slider
.sliderWrapper {
  width: 830px;
  position: relative;
  top: -94px;
  z-index: 1;
  height: 0px;
  float: right;
}
