<div class="row solutions"></div>
<!-- <img
    src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
    alt="..."
    class="rounded-circle"
  /> -->
<div class="solutionContent">
  <!-- <ng-content component]></ng-content>
  [component]='contact-us' ngIf="router.isActivated('/contact false) == true" -->
  <app-carousel></app-carousel>
  <router-outlet></router-outlet>
  <!-- <div ngIf="router.isActivated('/contact', false) == true"></div> -->
</div>
<!-- <app-omni-channel-ecosystem></app-omni-channel-ecosystem> -->
