<section class="row hometmtinsight">
  <div class="col-lg-6 col-sm-12 hometmtinsight__text">
    <div class="hometmtinsight__text__floatRight">
      <div class="hometmtinsight__title">Our Golden Threads</div>
      <p class="hometmtinsight__desc">
        <br>Future factory solutions from across Deloitte are configured to solve
        for 2 primary goals, establishing a digital ecosystem and improving the
        operational efficiency of a TMT client<br>
      </p>
      <p class="hometmtinsight__desc">
        Digital ecosystems capture the mindshare of a consumer by understanding
        the digital consumers’ needs. This enables a telco enter adjacent
        markets either through innovation or partnerships to attract, retain and
        support consumers
      </p>

      <div class="hometmtinsight__home-buttons">
        <button type="button" class="primaryBtn">
          LEARN MORE
          <svg
            width="19"
            height="14"
            class="arrowIcon"
            viewBox="0 0 19 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.379 1.99999L17.2581 6.87903L12.379 11.7581"
              stroke="#FCFDFF"
              stroke-width="2"
              stroke-linecap="round"
            />
            <path
              d="M1 5.87903C0.447715 5.87903 0 6.32674 0 6.87903C0 7.43131 0.447715 7.87903 1 7.87903V5.87903ZM1 7.87903H16.5V5.87903H1V7.87903Z"
              fill="#FCFDFF"
              stroke="#FCFDFF"
              stroke-width="0.5"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
