<section class="row welcome">
  <div class="text-center col-10 mx-auto align-self-center welcome__title">
    Welcome to the Deloitte TMT
  </div>
  <!-- <img class="welcome__icon" src="../../assets/icons/scroller.svg" /> -->

  <!-- <div class="row">
    <svg
      width="28"
      height="54"
      viewBox="0 0 28 54"
      fill="none"
      class="justify-content-center"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="1"
        y="1"
        width="26"
        height="52"
        rx="13"
        stroke="white"
        stroke-width="2"
      />
      <circle cx="14" cy="16" r="4" fill="white" />
    </svg>
  </div> -->
</section>
