<div class="modelguardian">
  <div class="row modelguardian__hero">
    <div class="modelguardian__hero-text-section col-12 mx-auto align-self-center">
      <div class="modelguardian__hero__hero-text-section__title text-center">
        Model Guardian:
      </div>
      <div class="modelguardian__hero__hero-text-section__desc text-center">
        Model Guardian
      </div>
    </div>
  </div>
  <div class="row viewSolution">
    <div class="col text-right align-items-center pr-lg-5 pr-sm-3">
      <span class="viewSolution__view">Go to the Solution: </span>
      <a class="viewSolution__goto">BOT DnA</a>
      <img class="viewSolution__arrowImg" src="../../assets/icons/arrow.svg" />
    </div>
  </div>
  <div class="row justify-content-center modelguardian__business-problem">
    <div class="col modelguardian__business-problem__business-text-section">
      <div
        class="col modelguardian__business-problem__business-text-section__business-header pl-5 mb-4 pt-4 text-center"
      >
        The Business Problem
      </div>
      <p
        class="col modelguardian__business-problem__business-text-section__business-desc pl-5 text-center"
      >
        Robotic Process Automation or RPA is a technology which
        telecommunication companies have adopted, both locally and globally, to
        resolve these challenges. With RPA, you not only automate a few mundane
        repetitive tasks, but you scale and apply this to more complex tasks
        throughout the organization. Telecommunication companies are however
        struggling to scale their RPA programmes, even with the use of operating
        models.
      </p>
      <p
        class="col text-center modelguardian__business-problem__business-text-section__keyList"
      >
        There a key challenges when scaling an RPA programme. Such as:​
      </p>
      <ul
        class="col list-unstyled modelguardian__business-problem__business-text-section__desc-list"
      >
        <li>‣ Lack of Visibility​</li>
        <li>‣ Lack of Insights​</li>
        <li>‣ Limited View on BOT Pipeline​</li>
        <li>‣ Cost versus Profitability of a CoE​</li>
      </ul>
    </div>

    <div class="col-12">
      <img
        class="d-block img-fluid modelguardian__business-problem__img-Section"
        src="../../assets/images/image 35.png"
        alt="Third slide"
      />
    </div>
  </div>

  <div class="row viewSolution">
    <div class="col text-right align-self-center pr-lg-5 pr-sm-3">
      <span class="viewSolution__view">Visit Partner Site : </span>
      <a class="viewSolution__goto">www.website.com/ </a>
      <img class="viewSolution__arrowImg" src="../../assets/icons/arrow.svg" />
    </div>
  </div>

  <!-- <div class="row modelguardian__benefits"> -->
  <!-- <img
      class="d-block img-fluid"
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
      alt="Third slide"
    /> -->

  <!-- <button type="button" class="primaryBtn d-md-table">
    BUTTON
    <img src="../../assets/icons/arrow.svg" />
  </button> -->
  <!-- </div> -->

  <div class="row videoSection">
    <div class="textBackground">
      <div class="textArea align-self-end">
        <div class="text-lg-left text-center pl-4 textBackground__title">
          BOT DnA
        </div>
        <div class="text-left pl-4 pt-4 textBackground__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </div>
      </div>
    </div>

    <div
      class="textBackground__blueDots col-md-6 col-lg-6 col-xl-6 float-left d-none d-lg-block d-xl-block"
    >
      <div class="float-right img-fluid">
        <img src="../../assets/icons/blue-dots.svg" alt=".." />
      </div>
    </div>

    <!-- col-12 float-right d-none d-lg-block d-xl-block" -->

    <div
      class="textBackground__purpleDots col-md-6 col-lg-6 col-xl-6 d-none d-lg-block d-xl-block"
    >
      <div class="float-right img-fluid">
        <img src="../../assets/icons/purple-dots.svg" alt=".." />
      </div>
    </div>

    <div class="textBackground__master-madia col-12 align-self-start">
      <div class="p-l-5 float-lg-right float-xl-right">
        <app-master-media></app-master-media>
      </div>
    </div>
    <!-- </div> -->
  </div>

  <div class="row">
    <div class="col-12 p-0"><app-modal></app-modal></div>
  </div>
</div>
