@import "../../assets/scss/common";

.modalBooking {
  &__demonstrationText {
    @include sbfont($h7, $white);
  }

  &__companyInput {
    width: 100% !important;
  }
}

.close {
  color: #ee7a60 !important;
}

.modal-content {
  border-radius: 10px !important;
}
.arrowIcon {
  margin-inline-start: 15px;
}
.modal-title {
  @include sbfont($h4, $color-secondary-32);
  font-size: 28px !important;
  letter-spacing: 0px !important;
}

.form-control {
  width: 170px;
}

hr {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 0px;
  border: 1px solid $color-secondary-33;
}

a {
  @include sbfont($h7, $color-secondary-33);
  font-weight: 600 !important;
}
