<div class="insight">
  <div class="insight__imageTitle">
    <img
      class="insight__topImg img-fluid"
      src="../../assets/images/golden thread image.png"
      alt=""
    />
    <div class="centeredText">Golden Threads</div>
  </div>
  <div class="row viewSolution">
    <div class="text-right pr-sm-3 col-12 mx-auto pr-lg-5 align-self-center">
      <span class="viewSolution__view">Go to the Solution: </span>
      <a class="viewSolution__goto">BOT DnA </a>

      <svg
        width="13"
        height="14"
        viewBox="0 0 13 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.37904 2L11.2581 6.87904L6.37904 11.7581"
          stroke="#91B843"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>
    </div>
  </div>
  <hr />

  <div class="row insight__text-section p-4 text-left">
    <div class="insight__header col-lg-12 col-md-7 pl-5 mb-5 pt-4">
      What is the Golden Thread?
    </div>
    <div class="col-lg-6 col-lx-6 col-md-6 col-sm-12">
      <p class="insight__desc col pl-5">
        Digital ecosystems capture the mindshare of a consumer by understanding
        the digital consumers’ needs. This enables a telco enter adjacent
        markets either through innovation or partnerships to attract, retain and
        support consumers.
      </p>
    </div>
    <div class="col-lg-6 col-lx-6 col-md-6 col-sm-12">
      <p class="insight__desc col pl-5">
        Focus on improving operational efficiencies through addressing key
        elements of network spend and ensuring the workforce is enabled and
        up/re-skilled to work in a digital operations environment
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-0"><app-modal></app-modal></div>
  </div>
</div>
