@import "../../assets/scss/common";

.insight {
  //   background-image: url("https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg");
  //
  // margin-top: 55px !important;

  &__topImg {
    width: 100%;

    height: auto;
  }

  .centeredText {
    @include sbfont($h3, $white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__imageTitle {
    position: relative;
  }
  &__text-section {
    background-color: $white;
    // height: auto;
  }

  &__text-section {
    background-color: $white;
    height: auto;
  }
  &__header {
    @include sbfont($h2, $color-secondary-20);
  }

  &__desc {
    @include sbfont($h5, $color-secondary-15);
  }
  //   position: absolute;
}

.insight-video {
  height: 507px;
  cursor: pointer;
  width: 393px;
  .selected {
    background-color: #dddddd;
  }

  :hover {
    background-color: #cce6ee;
  }
}

.insight__topImg::after {
  background: linear-gradient(
    56.4deg,
    #030614 30.33%,
    rgba(3, 6, 20, 0.514885) 67.88%,
    rgba(3, 6, 20, 0) 90.52%
  );
  opacity: 0.7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  li {
    padding: 10px;
    cursor: pointer;

    &.selected {
      background-color: #dddddd;
    }

    &:hover {
      background-color: #cce6ee;
    }
  }
}
