/* You can add global styles to this file, and also import other style files */
@import "../src/assets/scss/colors";
// @import "../src/assets/scss/common";
// @import "../src/assets/scss/font/";

body {
  background-color: $color-secondary-18;
  background-size: cover;
}

body,
html {
  min-height: 100%;
}

.row {
  margin: 0 !important;
}

.jumbotron {
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

hr {
  margin-top: 0.1rem !important;
  margin-bottom: 0rem !important;
}
